.articles {
  flex: 0 1 500px;
  justify-content: space-between;
  min-width: 300px;

  .article {
    padding: 0;
    border-radius: 10px;
    outline: none;
    overflow: hidden;
    cursor: pointer;

    figure {
      margin: 0;
      padding: 15px;
      overflow: hidden;
      background-color: white;

      img {
        height: 100%;
        background-size: cover;
        margin: auto;
        border-radius: 5px;

        max-width: 100%;
        transform-origin: center;
        transform: scale(var(--img-scale));
        transition: transform 0.4s ease-in-out;
      }
    }


    .article-body {
      background-color: #b7c5c7;
    }


  }

  .article_pdf {
    border-radius: 10px;
    width: 100%;
    height: 90vh;
  }

  /* using the has() relational pseudo selector to update our custom properties */
  .article:has(:hover, :focus) {
    --img-scale: 1.05;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;


  }
}