//sections
.section {
  height: 100vh;
  position: relative;

  // @media only screen and (max-width: 1250px) {
  //   font-size: 2rem;
  // }

  .section-content {
    display: grid;
    height: 100vh;
    gap: 2rem;
    grid-template-rows: 100px 1fr 100px;
    padding: 5rem;

    .content-title {
      display: flex;
      align-items: center;
      gap: 2rem;

      h1 {
        font-size: 5rem;
      }

      img {
        object-fit: contain;
        height: 7rem;
      }

      svg {
        color: white;
        height: 2rem;
        width: 2rem;
      }

      a {
        cursor: pointer;
      }
    }

    .image-container {
      display: flex;
      justify-content: center;
      overflow: hidden;
      background-color: rgba(83,106,170,.151);
      border-radius: 20px;
    }

    .content {
      font-size: 1.6rem;
    }
  }

  // arrow stuff 
  .arrow-down {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: ui-monospace;

    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      transform: rotate(90deg);
      font-size: 3.5rem;
    }
  }

  .arrow-up {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: ui-monospace;

    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      transform: rotate(-90deg);
      font-size: 3.5rem;
    }
  }

  .bounce-down {
    -moz-animation: bounce-down 2s infinite;
    -webkit-animation: bounce-down 2s infinite;
    animation: bounce-down 2s infinite;
  }

  .bounce-up {
    -moz-animation: bounce-up 2s infinite;
    -webkit-animation: bounce-up 2s infinite;
    animation: bounce-up 2s infinite;
  }




  @keyframes bounce-down {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-30px);
    }

    60% {
      transform: translateY(-15px);
    }
  }

  @keyframes bounce-up {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(30px);
    }

    60% {
      transform: translateY(15px);
    }
  }
}

.popup {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #282c34;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  border-width: 10px;
  border-style: solid;

  .pdf {
    height: 100%;
    width: 100%;
  }

  .close {
    width: 100%;
    font-size: 3em;
    color: white;
    border: none;
    background: none;
    z-index: 9999;
    cursor: pointer;
  }
}

.popup2 {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #282c34;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  border-width: 10px;
  border-style: solid;

  .pdf {
    height: 100%;
    width: 100%;
  }

  .close {
    width: 100%;
    font-size: 3em;
    color: white;
    border: none;
    background: none;
    z-index: 9999;
    cursor: pointer;
  }
}



//header
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, sans-serif;
  text-align: center;
  align-content: center;

  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 2em;
  }
}





//parallax
.parallax {
  &-0 {
    background-image: url("https://niloj.github.io/Content/photos/BackDrops/FallLeavesDark.jpg");
  }

  &-1 {
    background-image: url("./assets/images/Alice.jpg");
  }

  &-2 {
    background-image: url("https://github.com/Niloj/niloj.github.io/blob/master/Content/photos/BackDrops/tractor.jpg?raw=true");
  }

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Solid border */
.solid {
  border-top: 8px solid rgb(255, 123, 0);
  border-radius: 5px;
  margin: 0px 20px;
}



//resets
html {
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}