//sections
.section {
  height: 100vh;
}



//header
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, sans-serif;
  text-align: center;
  align-content: center;

  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 2em;
  }

  .arrow {
    margin: 10% 0;
    font-size: 3em;
    
    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      transform: translateY(10vh)  rotate(90deg);
    }
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }



  @keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-30px);
    }

    60% {
      transform: translateY(-15px);
    }
  }

}


//content sections
.content-section{
  h1{
    height: 100vh;
    font-size: 5em;
  }
  img{
   flex: 0 1 300px
  }
}

//WPF Standardization
.wpf-standardization{
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;

  // .wpf-content{
    
  //   .
  // }
  .scontent-titles{
    text-align: center;
    // flex:1;
    font-size: 5em;
    color: orange;
  }
}





//parallax
.parallax {
  &-0 {
    background-image: url("https://niloj.github.io/Content/photos/BackDrops/FallLeavesDark.jpg");
  }

  &-1 {
    background-image: url("./assets/images/Alice.jpg");
  }

  &-2 {
    background-image: url("https://github.com/Niloj/niloj.github.io/blob/master/Content/photos/BackDrops/tractor.jpg?raw=true");
  }

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//resets
html {
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}